/* GENERAL *************************************************************************************************** */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --shorter-length: 0.85rem;
    --short-length: 1.4rem;
    --medium-length: 3rem;
    --long-length: 4.5rem;
    --longer-length: 6rem;
    --white-gradient: white, #EFEFEF;
    --grey-gradient: #666666, #252525;
    --blue-gradient: #458ED3, #387bb9;
    --lightest-grey: #EFEFEF;
    --lighter-grey: #CCCCCC;
    --light-grey: #aaaaaa;
    --grey: #6C6C6C;
    --dark-grey: #404040;
    --darker-grey: #353535;
    --darkest-grey: #252525;
    --blue: #458ED3;
}

html {
    background: var(--lightest-grey);
    color: var(--darker-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.25;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}



/* TYPOGRAPHY ************************************************************************************************ */

h1 {
    color: var(--light-grey);
    font-size: 1.5972rem;
    font-weight: 100;
    text-transform: uppercase;
}

h2 {
    color: white;
    font-size: 1.452rem;
    font-weight: 100;
    text-transform: uppercase;
}

h3 {
    font-size: 1.21rem;
    font-weight: 100;
    text-transform: uppercase;
}

h4 {
    align-self: top;
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: 200;
    padding: 0 2rem;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.3rem;
}

em {
    font-style: italic;
    font-weight: 900;
}

b {
    font-weight: 900; 
}

p {
    padding-bottom: var(--short-length);
}

.smaller-italic {
    font-size: 0.9rem;
    font-style: italic;
}

header em {
    color: white;
}

header p {
    color: var(--lighter-grey);
    margin: 2rem 0;
    padding: 0;
}

.testimonial > p {
    font-style: italic;
}

.info h5 {
    color: white;
    margin-bottom: var(--short-length);
}

.info p > b {
    color: white;
}

.info a {
    color: var(--lighter-grey);
}

.info a:hover {
    color: var(--blue);
}

footer p {
    line-height: var(--long-length);
    margin: 0;
    padding:0;
}


/* BACKGROUNDS AND DIVIDERS ********************************************************************************** */

.dark-grey-background {
    background: var(--dark-grey);
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

.darker-grey-background {
    background: var(--darker-grey);
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

.grey-gradient-background {
    background: radial-gradient(var(--grey-gradient)) ;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.stripe-background {
    background: repeating-linear-gradient(
        -45deg,
        var(--lighter-grey),
        var(--lighter-grey) 1px,
        var(--lightest-grey) 1px,
        var(--lightest-grey) 4px
    );
}

.white {
    background-color: white;
}

hr {
    border: 1px solid var(--darker-grey);
    margin: 0.6rem 0;
}


/* BUTTONS *************************************************************************************************** */

.white-button {
    color: var(--darker-grey);
    background: linear-gradient(var(--white-gradient));
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.55rem 3rem 0.6rem;
}

.blue-button {
    color: white;
    background: linear-gradient(var(--blue-gradient));
    border-radius: 5px;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

header button {
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 4rem;
}

.tab button {
    position: absolute;
    right: var(--short-length);
    bottom: var(--short-length);
}


/* GRID ****************************************************************************************************** */

.grid {
    display: grid;
    grid-template-areas: 
        ". header ."
        ". top ." 
        "border border border"
        ". main ."
        ". bottom ."
        ". info ."
        ". footer footer-right";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto auto var(--shorter-length) auto auto auto auto;
    width: 100%;
}



/* HEADER **************************************************************************************************** */

header {
    align-items: center;
    display: flex;
    grid-area: header;
    height: 28rem;
    justify-content: flex-start;
}

header img {
    height: 21rem;
}

header div {
    flex-shrink: 0;
    padding: 0 2rem;
}

/* TOP AND BORDER ************************************************************************************** */

.border {
    grid-area: border;
}

.top {
    align-items: center;
    background: var(--blue);
    border-radius: 2px 2px 0 0;
    display: flex;
    grid-area: top;
    height: var(--longer-length);
    justify-content: space-between;
    line-height: var(--longer-length);
    padding-left: 50px;
    padding-right: 2rem;
    position: relative;
}

.top:after {
    border-right: 3.5rem solid transparent;
    border-top: 3.5rem solid var(--blue);
    bottom: -3.5rem;
    content:"";
    height: 0;
    left:0;
    position: absolute;
    width: 0;
}



/* MAIN ****************************************************************************************************** */

main {
    display: grid;
    grid-area: main;
    grid-template-areas: 
        "mainA"
        "mainB"
        "mainC";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}

/* MAIN A **************************************************************************************************** */

.mainA {
    margin-top: calc(var(--longer-length) - var(--shorter-length));
}

.content1 {
    display: grid;
    grid-column-gap: var(--short-length);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.feature {
    display: grid;
    grid-row-gap: var(--short-length);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr 1fr 0.5fr;
    justify-items: center;
    padding: var(--short-length);
    position: relative;
}

.circle {
    background: radial-gradient(var(--grey-gradient));
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.icon i {
    color: white; 
    font-size: 2rem;
    line-height: 65px;
}

.name {
    text-transform: uppercase;
}

.feature:hover {
    background-color: white;
    box-shadow: 2rem 0 8rem -4rem; 
}

.feature:hover::after {
    border-right: 2.5rem solid transparent;
    border-top: 2.5rem solid white;
    bottom: -2.5rem;
    content:"";
    height: 0;
    left:0;
    position: absolute;
    width: 0;
}

.feature:hover .circle {
    background: radial-gradient(var(--blue-gradient));
}

.feature:hover button {
    background: transparent;
    border: none;
    color: var(--blue);
    font-size: 1rem;
    font-weight: 600;
}

/* MAIN B **************************************************************************************************** */

.mainB {
    margin-top: var(--longer-length);

}

.title2 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: var(--shorter-length);
    width: 100%;
}

/* MAIN C **************************************************************************************************** */

.mainC {
    display: grid;
    grid-column-gap: var(--short-length);
    grid-template-areas: 
        "content2 content2 content2"
        "title3 title3 title4"
        "content3 content3 content4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
}

.content2 {
    display: grid;
    grid-area: content2;
    grid-column-gap: var(--short-length);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    margin-bottom: var(--longer-length);
    margin-top: var(--medium-length);
    width: 100%;
}

.blog {
    box-shadow: 2rem 0 8rem -4rem; 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    position: relative;
}

.blog::after {
    border-right: 2.5rem solid transparent;
    border-top: 2.5rem solid white;
    bottom: -2.5rem;
    content:"";
    height: 0;
    left:0;
    position: absolute;
    width: 0;
    z-index: 10;
}

.blog-thumbnail {
    width:100%;
}

.blog-snippet {
    padding: var(--short-length) var(--short-length) var(--short-length) var(--short-length); 
}

.title3 {
    display: grid;
    grid-area: title3;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: var(--shorter-length);
    width: 100%;
}

.content3 {
    display: grid;
    grid-area: content3;
    grid-column-gap: var(--short-length);
    grid-row-gap: calc(3*var(--short-length));
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: var(--medium-length);
    width: 100%;
}

.testimonial {
    padding: var(--short-length) var(--short-length) var(--short-length) var(--short-length);
    position: relative;
    box-shadow: 1rem 0 4rem -2rem; 
}

.testimonial::after {
    border-right: 2.5rem solid transparent;
    border-top: 2.5rem solid white;
    bottom: -2.5rem;
    content:"";
    height: 0;
    left:0;
    position: absolute;
    width: 0;
    z-index: 10;
}

.title4 {
    display: grid;
    grid-area: title4;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: var(--shorter-length);
    width: 100%;
}

.content4 {
    grid-area: content4;
    height: 100%;
    margin-top: var(--medium-length);
    height: calc(100% - var(--medium-length));
}

.tabs
{
    position: relative;
    clear: both;
    height: 100%;
}

.content {
    margin-top: var(--short-length);
    padding: var(--short-length);
    width: 100%;
    height: calc(100% - 2.66*var(--short-length)); /* not happy with this eye-balled solution */
}

.tab {
    height: 100%;
}

.tabs .tab
{
    float: left;
}

.tabs .tab .content
{
	position: absolute;
    left: 0px;
    top: 30px;
}

.checkboxtab
{
	display: none;
}

.tab label
{
    padding: var(--short-length);
    background-color: #ffffff88;
    position: relative;
    top: var(--short-length);
 }

.checkboxtab:checked ~ label
{
    background: white;
    border-bottom: 1px solid white;
    box-shadow: 0.5rem 0 2rem -1rem; 
}

.checkboxtab:checked ~ .content
{
    background: white;
    box-shadow: 2rem 0 8rem -4rem; 
	z-index: 1;
}


/* BOTTOM **************************************************************************************************** */

.bottom {
    align-items: center;
    background: var(--blue);
    border-radius: 2px 2px 0 0;
    display: flex;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-content: space-between;
    font-size: 1.452rem;
    height: var(--long-length);
    line-height: var(--long-length);
    margin-top: var(--longer-length);
    padding-left: 55px;
    padding-right: 1rem;
    position: relative;
}

.bottom::after {
    border-right: 3rem solid transparent;
    border-top: 3rem solid var(--blue);
    bottom: -3rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}



/* INFO ****************************************************************************************************** */

.info {
    display: grid;
    color: var(--light-grey);
    grid-area: info;
    grid-column-gap: var(--short-length);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: var(--short-length);
    padding-top: var(--long-length);
}


.flickr-square-grid {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    width: 100%;
}

.flickr-square { /* TODO: MAKE RESPONSIVE *****************/
    background-color:var(--darkest-grey);
    height: 50px;
    margin: 2px;
    width: 50px;
}


/* FOOTER **************************************************************************************************** */

footer {
    align-items: center;
    color: var(--light-grey);
    display: flex;
    flex-flow: row nowrap;
    grid-area: footer;
    height: var(--long-length);
    justify-content: space-between;
}

footer div {
    width: auto;
}


.social-media-icons {
    height: auto;
    margin-bottom: var(--short-length);
    margin-top: var(--short-length);
}

.fab {
    color: var(--darkest-grey);
    font-size: 2rem;
    margin-left: calc(0.5*var(--short-length));
}

.fab:hover, .fas:hover {
    color: var(--lightest-grey);
}

.footer-right {
    grid-area: footer-right;
    text-align: right;
}

.fas {
    font-size: 3rem;
    margin: calc(0.5*var(--short-length));
    color: var(--darkest-grey);
}