* {
    margin: 0;
    padding: 0;
}

:root {
    --content-margin-top: 3rem;
    --top-height: 6rem;
    --stripes-height: 0.85rem;
    --subgrid-column-gap: 1.4rem;
}

html {
    width: 100%;
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #252525;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 1.5972rem;
    text-transform: uppercase;
}

h2 {
    color: white;
    font-weight: 100;
    font-size: 1.452rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.21rem;
    text-transform: uppercase;
    font-weight: 100;
}

h4 {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    padding: 0 2rem;
    align-self: top;
    color: #666666;
}

h5 {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 0.4rem;
}

em {
    font-style: italic;
    font-weight: 900;
}

b {
    font-weight: 900; 
}

.grey {
    background-color: #404040;
}

.blue {
    background-color: #458ED3;
}

.dark {
    background-color: #353535;
}

.transparent {
    background-color: transparent;
}

.stripe {
    background: repeating-linear-gradient(
        -45deg,
        #CCCCCC,
        #CCCCCC 1px,
        #EFEFEF 1px,
        #EFEFEF 4px
    );
    
}

.white {
    background-color: white;
}



/* GRID ****************************************************************************************************** */

.grid {
    grid-template-areas: 
        "header header header"
        "header header header" 
        "border border border"
        "left main right"
        "left bottom right"
        "info info info"
        "footer footer footer";
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 250px auto var(--stripes-height) minmax(100px, auto) auto 225px 75px;
    width: 100%;
}

.header {
    grid-area: header;
    HEIGHT
}

.border {
    grid-area: border;
}

.top {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    height: var(--top-height);
    line-height: var(--top-height);
    padding-left: 55px;
}

.top:after {
    border-right: 50px solid transparent;
    border-top: 50px solid #458ED3;
    content:"";
    height: 0;
    position: absolute;
    bottom: -50px;
    left:0;
    width: 0;
}

.border {
    grid-area: border;
}

.bottom {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    position: relative;
    font-size: 1.452rem;
    height: 3em;
    line-height: 3em;
    padding-left: 55px;
    margin-top: var(--top-height);
}

.bottom:after {
    border-right: 50px solid transparent;
    border-top: 50px solid #458ED3;
    content:"";
    height: 0;
    position: absolute;
    bottom: -50px;
    width: 0;
    left: 0;
}

.info {
    grid-area: info;
}

.footer {
    grid-area: footer;
}

/* MAIN ****************************************************************************************************** */

.main {
    grid-template-areas: 
        "mainA"
        "mainB"
        "mainC";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}

/* MAIN A **************************************************************************************************** */

.mainA {
    margin-top: calc(var(--top-height) - var(--stripes-height));
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--subgrid-column-gap);
    text-align: center;
}

.feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr 1fr 0.5fr;
    grid-row-gap: var(--subgrid-column-gap);
    justify-items: center;
    padding: var(--subgrid-column-gap);
    position: relative;
}

.feature:after {
    border-right: 2.5rem solid transparent;
    border-top: 2.5rem solid white;
    content:"";
    height: 0;
    position: absolute;
    bottom: -2.5rem;
    left:0;
    width: 0;
    z-index: 10;
}

.circle {
    width: 60px;
    height: 60px;
    background: #414141;
    border-radius: 50%
}

.name {
    text-transform: uppercase;
}

/* MAIN B **************************************************************************************************** */

.mainB {
    margin-top: var(--top-height);

}

.title2 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: var(--stripes-height);
    width: 100%;
}

/* MAIN C **************************************************************************************************** */

.mainC {
    display: grid;
    grid-template-areas: 
        "content2 content2 content2"
        "title3 title3 title4"
        "content3 content3 content4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
    grid-column-gap: var(--subgrid-column-gap);
}

.content2 {
    grid-area: content2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    grid-column-gap: var(--subgrid-column-gap);
    width: 100%;
    margin-top: var(--content-margin-top);
    margin-bottom: var(--top-height);

}

.blog {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    position: relative;
}

.blog:after {
    border-right: 2.5rem solid transparent;
    border-top: 2.5rem solid white;
    content:"";
    height: 0;
    position: absolute;
    bottom: -2.5rem;
    left:0;
    width: 0;
    z-index: 10;
}

.blog-thumbnail {
    width:100%;
}

.blog-snippet {
    padding: var(--subgrid-column-gap) var(--subgrid-column-gap) calc(2*var(--subgrid-column-gap)) var(--subgrid-column-gap); 
}

.title3 {
    grid-area: title3;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: var(--stripes-height);
    width: 100%;
}

.content3 {
    grid-area: content3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-top: var(--content-margin-top);
    grid-column-gap: var(--subgrid-column-gap);
    grid-row-gap: calc(3*var(--subgrid-column-gap));
}

.testimonial {
    padding: var(--subgrid-column-gap) var(--subgrid-column-gap) calc(2*var(--subgrid-column-gap)) var(--subgrid-column-gap);
    position: relative;
}

.testimonial > p {
    font-style: italic;
}

.testimonial:after {
    border-right: 2.5rem solid transparent;
    border-top: 2.5rem solid white;
    content:"";
    height: 0;
    position: absolute;
    bottom: -2.5rem;
    left:0;
    width: 0;
    z-index: 10;
}

.title4 {
    grid-area: title4;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: var(--stripes-height);
    width: 100%;
}

.content4 {
    grid-area: content4;
    background-color: white;
    height: auto;
    margin-top: var(--content-margin-top);
}




/* BUTTONS *************************************************************************************************** */

.blue-button {
    color: white;
    background-color: #458ED3;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}